{% extends 'layout/layout.html' %}
{% load static %}
{% block main %}
  {% static 'img/home-bg.jpg' as home_bg %}
  {% include 'includes/banner.html' with banner_image=about_image banner_title='blog' banner_desc='bura blog sehifesidir' %}

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-12 bg-light border border-dark p-3">
        <div class="row text-center">
          <h2>REGISTER</h2>
        </div>
        <div class="h4 text-danger">Username or password incorrect</div>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_div }}
          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
