{% extends 'layout/layout.html' %}
{% load static %}
{% block main %}
{% static 'assets/img/home-bg.jpg' as home_bg %} 

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 bg-light border border-dark p-3">
            <div class="row text-center">
                <div>
          <h2>Add Article</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_div}}
           <input type="submit">
    </form>
      </div>
    </div>
  </div>
</div>

{% endblock main %}

    {% include 'includes/banner.html' with banner_title='Add article' banner_image=home_bg banner_description='Bura REGISTER sehifesidir' %}
     <!-- Main Content -->
